# Vi files
.*.swp

# Directories of object files
obj-*

# Directory of build results
lib

# aliens
rda
boost-*-prebuild-imx27

# Symbolic links
build.mk
build/config_release.mk
build/config_debug.mk
build/main.mk

